services:
  blog_chirpy:
    image: blog-chirpy-env
    container_name: blog_chirpy_env
    restart: always
    volumes:
      - .:/srv/jekyll # 当前目录挂载到容器
    ports:
      - "8080:8080" # 映射 Jekyll 默认端口
      - "8081:8081" # 映射 Jekyll 默认端口
    command: >
      sh -c "rm -rf _site && bundle install && bundle exec jekyll serve --host 0.0.0.0 -P 8080 -I -w -l --livereload_port 8081"
